<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456218011244-sj0hitue73cuk0gl8lk8uecstr0e4p5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456218011244-sj0hitue73cuk0gl8lk8uecstr0e4p5m</string>
	<key>API_KEY</key>
	<string>AIzaSyAlL3CL2JYcJXlQD9bkoTujEYX-IwkgdNU</string>
	<key>GCM_SENDER_ID</key>
	<string>456218011244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.web.testDmitryBruso</string>
	<key>PROJECT_ID</key>
	<string>test-bruso-dmitry</string>
	<key>STORAGE_BUCKET</key>
	<string>test-bruso-dmitry.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456218011244:ios:423a32526d5ea627009a49</string>
	<key>DATABASE_URL</key>
	<string>https://test-bruso-dmitry.firebaseio.com</string>
</dict>
</plist>